<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../partials/nav.ejs') %>
    </header>
    <main>
    <form action="/spells" method="post" id="add-spell">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">

        <label for="level">Level: </label>
        <!-- used to find min/max https://www.w3schools.com/tags/att_input_type_number.asp#:~:text=The%20%3Cinput%20type%3D%22number,specifies%20the%20minimum%20value%20allowed -->
        <input type="number" name="level" id="level" min="0" max="9">

        <label for="description">Description: </label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <label for="range">Range: </label>
        <input type="text" name="range" id="range">

        <label for="school">School: </label>
        <input type="text" name="school" id="school">

        <label for="materials">Materials</label>
        <input type="text" name="materials" id="materials">

        <label for="components">Components: </label>
        <input type="text" name="components" id="components">

        <label for="casting-time">Casting Time: </label>
        <input type="text" name="casting-time" id="casting-time">

        <label for="duration">Duration: </label>
        <input type="text" name="duration" id="duration">

        <input type="submit" value="Add Spell">

    </form>
</main>
</body>
</html>