<nav>
  <% if(currentUser) { %>
        <a href="/">Home</a>
        <form action="/sessions?_method=DELETE" method="post">
            <input type="submit" value="Log Out" />
        </form>
  <% } else { %>
        <h1>MySpellbook</h1>
        <a href="/users/new" id="register">Register</a>
        <a href="/"id="home">Home</a>
  <% } %>
</nav>
