/* the fonts are taken from https://www.reddit.com/r/UnearthedArcana/comments/3vpphx/5e_font_package_embeddable_cc_edition/ */

@font-face {
    font-family: "Mr Eaves";
    src: url('fonts/Mr\ Eaves\ Small\ Caps.otf');
}
@font-face {
    font-family: "Bookinsanity";
    src: url('fonts/Bookinsanity.otf');
}
nav {    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url("CurseofStrahd_Throne_1280x960_Wallpaper.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0 10px;
    color: wheat;
    font-family: 'Mr Eaves';
    font-size: xx-large;
}
h1 {
    margin: 0
}
nav > div {
    margin: 30px 10px;
}
nav > div:first-child {
    margin-right: auto;
}
nav > div > a {
    color: wheat;
    text-decoration: none;
    font-size: x-large;
}

body {
    background-color: rgb(234, 233, 222);
    font-family: Bookinsanity;
}